/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}
.fullWindowZone{
	width: 600px;
	height: 600px;
	background-color: #EAEAEA;
	position: relative;
	top: 0px;
	left: 0px;
	
}

/* Everything but the jumbotron gets side spac */