<div class="jumbotron">
  <h1>Window manager Example</h1>
  <p class="lead">
    Get your app windofied	
  </p>
</div>


<div id="myMoveZone" class="fullWindowZone">
	<div>
	  <wmwindow title="hola" options="{{options}}" > hola </wmwindow>
	  <wmwindow title="hello"> Que tal </wmwindow>
	  <wmwindow  title="{{tarara}}"> Que tal </wmwindow>
	  <wmwindow ng-repeat="elem in awesomeThings" options={{options}} title=" My title {{elem}}" close="myfunction()" > <p>Win </p><p>{{elem}}</p></wmwindow>


	</div>
</div>
	
	
	
<div >
<input type="text" data-ng-model="tarara" > <br />

	Add new: <input type="text" data-ng-model="win.newtitle" > <br /><button data-ng-click="add()">Add</button>

</div>
